<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="69.433" height="44.544" viewBox="0 0 89.433 64.544">
            <defs>
              <linearGradient id="linear-gradient" x1="-11.741" y1="5.084" x2="-11.741" y2="4.933" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="gray" stop-opacity="0.251"/>
                <stop offset="0.535" stop-color="gray" stop-opacity="0.122"/>
                <stop offset="1" stop-color="gray" stop-opacity="0.102"/>
              </linearGradient>
            </defs>
            <g id="Group_10" data-name="Group 10" transform="translate(-0.005)">
              <ellipse id="Ellipse_4" data-name="Ellipse 4" cx="3.946" cy="0.592" rx="3.946" ry="0.592" transform="translate(1.066 35.552) rotate(-63.611)" fill="#e0e0e0"/>
              <ellipse id="Ellipse_5" data-name="Ellipse 5" cx="3.946" cy="0.402" rx="3.946" ry="0.402" transform="translate(50.543 60.124) rotate(-63.611)" fill="#e0e0e0"/>
              <rect id="Rectangle_4" data-name="Rectangle 4" width="2.368" height="7.892" transform="translate(24.786 45.57) rotate(39.547)" fill="#f55f44"/>
              <rect id="Rectangle_5" data-name="Rectangle 5" width="2.664" height="7.892" transform="translate(25.008 54.259) rotate(-166.769)" opacity="0.05"/>
              <rect id="Rectangle_6" data-name="Rectangle 6" width="2.368" height="7.892" transform="translate(25.008 54.258) rotate(-166.769)" fill="#f55f44"/>
              <rect id="Rectangle_7" data-name="Rectangle 7" width="8.287" height="55.047" transform="translate(1.509 35.992) rotate(-63.611)" fill="url(#linear-gradient)"/>
              <path id="Path_6" data-name="Path 6" d="M265.711,450.168c-.965-.463-50.018-24.817-49.311-24.467a27.542,27.542,0,0,0,3.508-7.07L269.219,443.1S267.487,446.137,265.711,450.168Z" transform="translate(-214.804 -389.886)" fill="#f5f5f5"/>
              <rect id="Rectangle_8" data-name="Rectangle 8" width="4.538" height="7.892" transform="translate(26.666 39.444) rotate(26.389)" opacity="0.05"/>
              <rect id="Rectangle_9" data-name="Rectangle 9" width="4.143" height="7.892" transform="translate(26.843 39.532) rotate(26.389)" fill="#f55f44"/>
              <rect id="Rectangle_10" data-name="Rectangle 10" width="2.762" height="7.892" transform="translate(27.373 39.795) rotate(26.389)" opacity="0.05"/>
              <rect id="Rectangle_11" data-name="Rectangle 11" width="2.368" height="7.892" transform="translate(27.55 39.883) rotate(26.389)" fill="#f55f44"/>
              <circle id="Ellipse_6" data-name="Ellipse 6" cx="0.329" cy="0.329" r="0.329" transform="translate(29.057 63.079)" fill="#dbdbdb"/>
              <g id="Group_6" data-name="Group 6" transform="translate(2.522 54.196)" opacity="0.5">
                <rect id="Rectangle_12" data-name="Rectangle 12" width="0.337" height="1.911" transform="translate(0.787)" fill="#47e6b1"/>
                <rect id="Rectangle_13" data-name="Rectangle 13" width="0.337" height="1.911" transform="translate(1.911 0.787) rotate(90)" fill="#47e6b1"/>
              </g>
              <g id="Group_7" data-name="Group 7" transform="translate(87.527 30.359)" opacity="0.5">
                <rect id="Rectangle_14" data-name="Rectangle 14" width="0.337" height="1.911" transform="translate(0.787)" fill="#47e6b1"/>
                <rect id="Rectangle_15" data-name="Rectangle 15" width="0.337" height="1.911" transform="translate(1.911 0.787) rotate(90)" fill="#47e6b1"/>
              </g>
              <g id="Group_8" data-name="Group 8" transform="translate(4.546 6.634)" opacity="0.5">
                <rect id="Rectangle_16" data-name="Rectangle 16" width="0.337" height="1.911" transform="translate(0.787)" fill="#47e6b1"/>
                <rect id="Rectangle_17" data-name="Rectangle 17" width="0.337" height="1.911" transform="translate(1.911 0.787) rotate(90)" fill="#47e6b1"/>
              </g>
              <g id="Group_9" data-name="Group 9" transform="translate(77.407 3.711)" opacity="0.5">
                <rect id="Rectangle_18" data-name="Rectangle 18" width="0.337" height="1.911" transform="translate(0.787)" fill="#47e6b1"/>
                <rect id="Rectangle_19" data-name="Rectangle 19" width="0.337" height="1.911" transform="translate(1.911 0.787) rotate(90)" fill="#47e6b1"/>
              </g>
              <path id="Path_7" data-name="Path 7" d="M203.689,410.4a.413.413,0,0,1-.23-.5.2.2,0,0,0,.009-.046h0a.207.207,0,0,0-.372-.137h0a.2.2,0,0,0-.023.041.413.413,0,0,1-.5.23.2.2,0,0,0-.046-.009h0a.207.207,0,0,0-.137.372h0a.2.2,0,0,0,.041.023.413.413,0,0,1,.23.5.2.2,0,0,0-.009.046h0a.207.207,0,0,0,.372.137h0a.2.2,0,0,0,.023-.041.413.413,0,0,1,.5-.23.2.2,0,0,0,.046.009h0a.207.207,0,0,0,.137-.372h0A.2.2,0,0,0,203.689,410.4Z" transform="translate(-202.303 -381.9)" fill="#4d8af0" opacity="0.5"/>
              <path id="Path_8" data-name="Path 8" d="M375.689,213.4a.413.413,0,0,1-.23-.5.2.2,0,0,0,.009-.046h0a.207.207,0,0,0-.372-.137h0a.2.2,0,0,0-.023.041.413.413,0,0,1-.5.23.2.2,0,0,0-.046-.009h0a.207.207,0,0,0-.137.372h0a.2.2,0,0,0,.041.023.413.413,0,0,1,.23.5.2.2,0,0,0-.009.046h0a.207.207,0,0,0,.372.137h0a.2.2,0,0,0,.023-.041.413.413,0,0,1,.5-.23.2.2,0,0,0,.046.009h0a.207.207,0,0,0,.137-.372h0A.2.2,0,0,0,375.689,213.4Z" transform="translate(-354.963 -207.051)" fill="#4d8af0" opacity="0.5"/>
              <path id="Path_9" data-name="Path 9" d="M585.689,724.4a.413.413,0,0,1-.23-.5.2.2,0,0,0,.009-.046h0a.207.207,0,0,0-.372-.137h0a.2.2,0,0,0-.023.041.413.413,0,0,1-.5.23.2.2,0,0,0-.046-.009h0a.207.207,0,0,0-.137.372h0a.2.2,0,0,0,.041.023.413.413,0,0,1,.23.5.2.2,0,0,0-.009.046h0a.207.207,0,0,0,.372.137h0a.206.206,0,0,0,.023-.041.413.413,0,0,1,.5-.23.2.2,0,0,0,.046.009h0a.207.207,0,0,0,.137-.372h0A.2.2,0,0,0,585.689,724.4Z" transform="translate(-541.351 -660.594)" fill="#4d8af0" opacity="0.5"/>
              <circle id="Ellipse_7" data-name="Ellipse 7" cx="0.675" cy="0.675" r="0.675" transform="translate(84.716 49.249)" fill="#f55f44" opacity="0.5"/>
              <circle id="Ellipse_8" data-name="Ellipse 8" cx="0.675" cy="0.675" r="0.675" transform="translate(69.874 53.521)" fill="#4d8af0" opacity="0.5"/>
              <circle id="Ellipse_9" data-name="Ellipse 9" cx="0.675" cy="0.675" r="0.675" transform="translate(10.955 60.155)" fill="#47e6b1" opacity="0.5"/>
              <circle id="Ellipse_10" data-name="Ellipse 10" cx="0.675" cy="0.675" r="0.675" transform="translate(45.587)" fill="#f55f44" opacity="0.5"/>
              <path id="Path_10" data-name="Path 10" d="M385.9,448.589l-2.7,4.048s.9,4.16,20.8,4.048,21.476-4.048,21.476-4.048l-3.711-5.4-11.356-7.758Z" transform="translate(-362.853 -408.391)" fill="#6c63ff"/>
              <path id="Path_11" data-name="Path 11" d="M385.9,448.589l-2.7,4.048s.9,4.16,20.8,4.048,21.476-4.048,21.476-4.048l-3.711-5.4-11.356-7.758Z" transform="translate(-362.853 -408.391)" opacity="0.15"/>
              <path id="Path_12" data-name="Path 12" d="M94.989,81.99,59.571,97.619,16.394,81.99,55.973,64,75.4,72.958l.7.322Z" transform="translate(-14.546 -56.804)" fill="#6c63ff"/>
              <path id="Path_13" data-name="Path 13" d="M94.989,81.99,59.571,97.619,16.394,81.99,55.973,64,75.4,72.958l.7.322Z" transform="translate(-14.546 -56.804)" opacity="0.15"/>
              <path id="Path_14" data-name="Path 14" d="M542.613,156.449l-.675.04-.755-12.819.7.322Z" transform="translate(-480.329 -127.516)" fill="#f5f5f5"/>
              <path id="Path_15" data-name="Path 15" d="M386.345,368.4,383.2,387.518s22.6-7.309,42.277,0l-2.923-20.239S396.128,364.018,386.345,368.4Z" transform="translate(-362.853 -343.273)" fill="#6c63ff"/>
              <ellipse id="Ellipse_11" data-name="Ellipse 11" cx="3.261" cy="2.249" rx="3.261" ry="2.249" transform="translate(58.967 28.335)" fill="#f5f5f5"/>
            </g>
          </svg>
          FORMA MANAGEMENT
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="Accueil">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Formations
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="btp">BTP</a></li>
                        <li><a class="dropdown-item" routerLink="bts">BTS</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="Contactez-nous">Contactez-nous</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg></span></div>
                    <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon1">
                </div>

            </form>
        </div>
    </div>
</nav>